.hero-icon {
    display: inline;
    width: 70px;
    padding-top: 15px;
}

.hero-title {
    text-align: center;
}

.hero-star {
    width: 15px;
;
}

.element-icon {
    width: 30px;
    padding-bottom: 40px;
    position: relative;
    left: 20px;
}

.role-icon {
    width: 30px;
    position: relative;
    right: 20px;
}

.hero-frame {
    border: solid 2px darkcyan;
    border-radius: 25px;

    width: 250px;
    height: 120px;
    background-color: darkcyan;

    margin: 15px 0px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;

    color: ghostwhite;

}

.hero-frame:hover {
    background-color: cyan;
    color: black;
}